<center>
<div class="row-fluid">
  
  <div class="span4"><h3>Create an offer</h3>
  <p><%= link_to "Create", '/adds/', class: "btn btn-large btn-primary" %></p>
  </div>
  


  <div class="span8"><h3>Offer a discount</h3></div>
  <p><%= link_to "Offer", '/adds/', class: "btn btn-large btn-primary" %></p>
  </div>

<div class="row-fluid">
  <div class="span4"><h3>Account Balance</h3>
  <p><%= link_to "Balance", '/adds/', class: "btn btn-large btn-primary" %></p>
  </div>

  <div class="span8"><h3>Account Settings</h3>
  <p><%= link_to "Settings", '/adds/', class: "btn btn-large btn-primary" %></p>
  </div>

</div>
</center>
